@using CurvePoint = System.Tuple<int, double>

@if (Player1 != null && Player2 != null)
{
    <RadzenCard>
        <RadzenPanel AllowCollapse="true" Style="">
            <HeaderTemplate>
                <h2>Loadouts Selection</h2>
            </HeaderTemplate>
            <ChildContent>
                <div class="table-responsive-xl">
                    <table class="table">
                        <tr>
                            <td>
                                <RadzenCard>
                                    <h2 style="text-align: center">Player 1</h2>
                                    <table style="width: 100%">
                                        <tr>
                                            <th colspan="2">Weapon</th>
                                        </tr>
                                        <WeaponEditor Weapon="@Player1.Weapon" />
                                        <tr>
                                            <th colspan="2">Target</th>
                                        </tr>
                                        <TargetEditor Target="@Player1.Target" />
                                        <tr>
                                            <th colspan="2">Shooter</th>
                                        </tr>
                                        <AccuracyAndHeadshotEditor Shooter=@Player1.Shooter />
                                    </table>
                                </RadzenCard>
                            </td>
                            <td>
                                <RadzenCard>
                                    <h2 style="text-align: center">Player 2</h2>
                                    <table style="width: 100%">
                                        <tr>
                                            <th colspan="2">Weapon</th>
                                        </tr>
                                        <WeaponEditor Weapon="@Player2.Weapon" />
                                        <tr>
                                            <th colspan="2">Target</th>
                                        </tr>
                                        <TargetEditor Target="@Player2.Target" />
                                        <tr>
                                            <th colspan="2">Shooter</th>
                                        </tr>
                                        <AccuracyAndHeadshotEditor Shooter=@Player2.Shooter />
                                    </table>
                                </RadzenCard>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <RadzenCard>
                                    <span>
                                        Range between the players
                                        <RadzenNumeric TValue="int" Min="0" Max="400" Step="50" Format="0 m"
                                                       @bind-Value=@Range />
                                    </span><br />
                                    <RadzenSlider @bind-Value=@Range TValue="int" Min="0" Max="400" Style="width:100%" />
                                </RadzenCard>
                            </td>
                        </tr>
                    </table>
                </div>
            </ChildContent>
        </RadzenPanel>
    </RadzenCard>
}

@code {
    private int range;
    private Player player1;
    private Player player2;

    [Parameter]
    public Player Player1
    {
        get => player1;
        set
        {
            if (player1 != value)
            {
                player1 = value;
                PropertiesChanged.InvokeAsync();
            }
        }
    }
    [Parameter]
    public Player Player2
    {
        get => player2;
        set
        {
            if (player2 != value)
            {
                player2 = value;
                PropertiesChanged.InvokeAsync();
            }
        }
    }

    [Parameter]
    public int Range
    {
        get => range;
        set
        {
            if (range != value)
            {
                range = value;
                PropertiesChanged.InvokeAsync();
            }
        }
    }
    [Parameter]
    public EventCallback PropertiesChanged { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (Player1 != null)
            Player1.PropertiesChanged = this.PropertiesChanged;
        if (Player2 != null)
            Player2.PropertiesChanged = this.PropertiesChanged;
        return base.OnInitializedAsync();
    }
}