@using CurvePoint=System.Tuple<double, double>

<RadzenCard>
    <RadzenPanel AllowCollapse="true">
        <HeaderTemplate>
            <h2>Probability Graph</h2>
        </HeaderTemplate>
        <ChildContent>
            <RadzenChart Visible=@(Curve1 != null && Curve2 != null)>
                <RadzenLineSeries Data=Curve1 CategoryProperty="Item1" ValueProperty="Item2" Title="First Player">

                </RadzenLineSeries>
                <RadzenLineSeries Data=Curve2 CategoryProperty="Item1" ValueProperty="Item2" Title="Second Player">

                </RadzenLineSeries>
                <RadzenCategoryAxis FormatString="{0:0.00} s"/>
                <RadzenValueAxis FormatString="{0:P2}"/>
            </RadzenChart>
        </ChildContent>
    </RadzenPanel>
    <RadzenButton Click="e => OnCalculateRequest.InvokeAsync()">
        Calculate curves
    </RadzenButton>
</RadzenCard>

@code{
    [Parameter]
    public IEnumerable<CurvePoint> Curve1 { get; set; }
    [Parameter]
    public IEnumerable<CurvePoint> Curve2 { get; set; }
    [Parameter]
    public EventCallback OnCalculateRequest { get; set; }

}