@page "/ttk-calculator"
<table>
    <tr>
        <td>
            <WeaponEditor Weapon="@null" />
        </td>
        <td>
            <WeaponEditor Weapon="@null" />
        </td>
    </tr>
</table>
@code {
    public Target Target { get; set; }
    public Weapon Weapon { get; set; }
    public int Range { get; set; }
}