@using MudBlazor 

@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
